// ピン制約

NET "CLK_IN"			LOC = P50	| IOSTANDARD = LVCMOS33;
NET "PWR_5V"			LOC = P40	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;

NET "nINIT"				LOC = P39	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "AUX0"				LOC = P69	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| PULLUP;
NET "AUX1"				LOC = P64	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| PULLUP;
NET "AUX2"				LOC = P48	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| PULLUP;

NET "SPI_nCS"			LOC = P67	| IOSTANDARD = LVCMOS33;
NET "SPI_SCLK"			LOC = P56	| IOSTANDARD = LVCMOS33;
NET "SPI_SCLK2"			LOC = P70	| IOSTANDARD = LVCMOS33;
NET "SPI_MOSI"			LOC = P65	| IOSTANDARD = LVCMOS33;
NET "SPI_MISO"			LOC = P66	| IOSTANDARD = LVCMOS33	| DRIVE = 4	| SLEW = SLOW;

NET "MOT1_PWM[0]"		LOC = P102	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_PWM[1]"		LOC = P100	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_PWM[2]"		LOC = P97	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_nRESET[0]"	LOC = P101	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_nRESET[1]"	LOC = P99	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_nRESET[2]"	LOC = P98	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT1_nFAULT"		LOC = P104	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "MOT1_nOTW"			LOC = P105	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT2_PWM[0]"		LOC = P81	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_PWM[1]"		LOC = P79	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_PWM[2]"		LOC = P74	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_nRESET[0]"	LOC = P80	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_nRESET[1]"	LOC = P78	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_nRESET[2]"	LOC = P75	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT2_nFAULT"		LOC = P82	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "MOT2_nOTW"			LOC = P83	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT3_PWM[0]"		LOC = P32	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_PWM[1]"		LOC = P29	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_PWM[2]"		LOC = P24	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_nRESET[0]"	LOC = P30	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_nRESET[1]"	LOC = P27	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_nRESET[2]"	LOC = P26	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT3_nFAULT"		LOC = P33	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "MOT3_nOTW"			LOC = P34	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT4_PWM[0]"		LOC = P9	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_PWM[1]"		LOC = P7	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_PWM[2]"		LOC = P2	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_nRESET[0]"	LOC = P8	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_nRESET[1]"	LOC = P6	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_nRESET[2]"	LOC = P5	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT4_nFAULT"		LOC = P10	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "MOT4_nOTW"			LOC = P11	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT5_PWM[0]"		LOC = P140	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_PWM[1]"		LOC = P138	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_PWM[2]"		LOC = P133	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_nRESET[0]"	LOC = P139	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_nRESET[1]"	LOC = P137	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_nRESET[2]"	LOC = P134	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW	| IOB = FORCE;
NET "MOT5_nFAULT"		LOC = P141	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "MOT5_nOTW"			LOC = P142	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT12_EN_SENSORS"	LOC = P84	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "MOT12_nLATCH"		LOC = P95	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "MOT12_CLK"			LOC = P94	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "MOT12_nDO"			LOC = P93	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT345_EN_SENSORS"	LOC = P12	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "MOT345_nLATCH"		LOC = P23	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "MOT345_CLK"		LOC = P22	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "MOT345_nDO"		LOC = P21	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "ADC1_nCS"			LOC = P92	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC1_SCLK"			LOC = P88	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC1_MOSI"			LOC = P87	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC1_MISO"			LOC = P85	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "ADC2_nCS"			LOC = P17	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC2_SCLK"			LOC = P16	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC2_MOSI"			LOC = P15	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "ADC2_MISO"			LOC = P14	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "MOT5_CUR_SDA"		LOC = P143	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "MOT5_CUR_SCL"		LOC = P144	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;

//NET "MOT1_TEMP"			LOC = P111	| IOSTANDARD = LVCMOS33	| PULLUP;
//NET "MOT3_TEMP"			LOC = P35	| IOSTANDARD = LVCMOS33	| PULLUP;
//NET "MOT4_TEMP"			LOC = P1	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "EXT1_nCS"			LOC = P119	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "EXT1_SCLK"			LOC = P121	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "EXT1_MOSI"			LOC = P124	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "EXT1_MISO"			LOC = P127	| IOSTANDARD = LVCMOS33	| PULLUP;
NET "EXT1_CE"			LOC = P117	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "EXT1_IRQ"			LOC = P132	| IOSTANDARD = LVCMOS33	| PULLDOWN;

NET "BALL_EN"			LOC = P116	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "BALL_SCL"			LOC = P114	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "BALL_DETECT"		LOC = P112	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;

NET "XBEE_nRESET"		LOC = P123	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = QUIETIO;
NET "XBEE_TX"			LOC = P120	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "XBEE_RX"			LOC = P118	| IOSTANDARD = LVCMOS33	| PULLUP	| IOB = FORCE;
NET "XBEE_nCTS"			LOC = P115	| IOSTANDARD = LVCMOS33	| PULLUP;

NET "LED_CLK"			LOC = P131	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;
NET "LED_DO"			LOC = P126	| IOSTANDARD = LVCMOS33	| DRIVE = 2	| SLEW = SLOW;



// タイミング制約

//TEMPERATURE = 50 C;

NET "CLKGEN/clksys2"	TNM_NET = "TNM_CLKGEN_CLKSYS2";
TIMESPEC "TS_CLKGEN_CLKSYS2" = PERIOD "TNM_CLKGEN_CLKSYS2" 6.666 ns HIGH 50 %;	// 150MHz

NET "CLKGEN/clksys1"	TNM_NET = "TNM_CLKGEN_CLKSYS1";
TIMESPEC "TS_CLKGEN_CLKSYS1" = PERIOD "TNM_CLKGEN_CLKSYS1" 20.000 ns HIGH 50 %;	// 50MHz

NET "CLKGEN/clkpwm"	TNM_NET = "TNM_CLKGEN_CLKPWM";
TIMESPEC "TS_CLKGEN_CLKPWM" = PERIOD "TNM_CLKGEN_CLKPWM" 6.944 ns HIGH 50 %;	// 144MHz

NET "SPI_SCLK"			TNM_NET = "TNM_SPISCLK";
TIMESPEC "TS_SPISCLK" = PERIOD "TNM_SPISCLK" 16.666 ns HIGH 50 %;				// 最大60MHz






// 配置制約



